.app_dark_theme {
    --bg-color: #262626;
    --inverted-bg-color: #e1dfdf;

    // 47a78b
    // 3d876e
    --primary-color: #47a78b;
    --secondary-color: #3d876e;
    --inverted-primary-color: #1c4c8f;
    --inverted-secondary-color: #41bce1;

    // Skeleton
    --skeleton-color: #153b70;
    --skeleton-shadow: #3aa6c7;
}
