:root {
    --bg-color: #e1dfdf;
    --inverted-bg-color: #262626;
    --primary-color: #1c4c8f;
    --secondary-color: #41bce1;
    --inverted-primary-color: #47a78b;
    --inverted-secondary-color: #3d876e;

    // Skeleton
    --skeleton-color: #3a8a73;
    --skeleton-shadow: #2d6451;
}
